<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net471" />
  <package id="AwesomeSockets" version="2.0.8.0" targetFramework="net471" />
  <package id="ConsoleTables" version="2.2.0" targetFramework="net471" />
  <package id="InTheHand.Pontoon" version="10.2018.3.19" targetFramework="net471" />
  <package id="Memory.dll" version="1.2.17" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Network" version="6.1.0.2" targetFramework="net471" />
  <package id="Network.Bluetooth" version="4.0.1803.22" targetFramework="net471" />
  <package id="NetworkCommsDotNet" version="3.0.3" targetFramework="net471" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net471" />
</packages>